button{
        display: block;
        width: 750px;
        height: fit-content;
        border: none;
        background-color: #25a878;
         
        font-size: 30px;
        cursor: pointer;
        text-align: center;
}
button:hover{
        color: #fff;
        background-color:rgb(16, 126, 84);
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: darkgrey;
    background-image: url("reg.jpg");
    background-size: auto;
    text-align: center;
  }
  .details{
    max-width: 680px;
    height: 200px;
    width: 100%;
    background-color: #fff;
    padding: 60px 45px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    font size:20px;
    padding: 30px;
    padding: 30px;
  }
  h1{
          text-align: center;
  }

input{

        background-color: #eeeeee;
        height:20px;
        font-size:10pt ;
        width:400px;
        text-align: center;
}
